@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  text-align: center;
  background-image: linear-gradient(to top, rgba(28, 28, 28, 0.6), rgba(257, 257, 257, 0.6)), url("https://source.unsplash.com/1JX4J_kq7sU");
  background-color: linear-gradient(to top, #1C1C1C 0%, #f7f7f7 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
    color: red; 
    letter-spacing: 10px; 
    font-family: 'Cabin Sketch', cursive;
    font-size: 70px;
    cursor: default;
    text-shadow: 5px 5px 1px #1c1c1c, 8px 8px 10px #f7f7f7;
    max-width: 550px;
    width: 100%;
    margin: 50px auto;

}

h1:hover {
  transform: scale(1.1);
  transition-duration: 1s;
  color: #1c1c1c;
  text-shadow: 5px 5px 1px red, 8px 8px 10px #f7f7f7;
}

h3 {
  color: #E2DFD2;
  line-height: 1.8;
  font-family: 'Coming Soon', cursive;
  letter-spacing: 3px;
  font-size: 14px;
  border: 1px solid #343434;
  max-width: 750px;
  width: 100%;
  margin: 30px auto;
  padding: 30px;
  text-align: justify;
  background-color:rgba(28, 28, 28, 0.5);
  border-radius: 5px 100px 5px 100px;
  cursor: default;
}

h3:hover {
  color: red;
}

canvas {
  border: 10px solid rgba(255, 255, 240, 0.7);
  border-radius: 20px;
}

canvas:hover {
  border: 10px solid rgba(255, 0, 0, 0.7);
}

h4 {
    color: #E2DFD2; 
    margin-left: 30px;
    font-family: 'Coming Soon', cursive;
    letter-spacing: 3px;
    font-size: 14px;
    cursor: default;
}

h4:hover {
  color: red;
}

footer p {
  text-align: center;
  font-size: 12px;
  cursor: default;
  font-family: "Gloria Hallelujah", cursive;
  letter-spacing: 3px;
  margin: 30px 0 5px 0;
  color: #f7f7f7;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

footer p:hover {
  color: red;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.icons {
    text-align: center;
    margin-top: 10px;
}

#linkedin, #github, #discord, #codepen, #mail {
    color: #f7f7f7;
    padding: 0 10px;
}

#linkedin:hover, #github:hover, #discord:hover, #codepen:hover, #mail:hover {
  color: red;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1c1c1c;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f7f7f7;
    border-radius: 20px;
  }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
  }